
:root {
    --primary-font: Roboto, sans-serif;

    --transition: all 0.3s linear;

}

/*
======================
NAVBAR
======================
*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(140, 140, 140);
    font-family: var(--primary-font);
}

.logo {
    height: 40px;
}

.profile-image {
    height: 40px;
}

.menu {
    height: 0;
    overflow: hidden;
    transition: var(--transition);}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

li {
    list-style: none;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.show-links {
    height: 5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.card {
    background-color: #e2a165;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0px solid #000;
    padding: .3rem auto;
    border-radius: .3rem;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80vw;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.card span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    gap: .5rem;
}

.new-btn {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    margin: .5rem;
}

.wrapper {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    background-color: #e2a165;
    flex-direction: column;
    font-family: var(--primary-font);
    gap: .2rem;
    border: 1px solid #e2a165;
    border-radius: .3rem;
    padding: 1rem;
    padding-top: 0rem;
}


.modal label {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.modal-title {
    align-self: center;
    margin-top: -1rem;
}

.modal button {
    margin-top: 1rem;
    border: none;
    border-radius: .2rem;
    background-color: green;
    color: aliceblue;
    padding: .3rem;
}

.trash-icon {
    height: 1rem;
    justify-self: flex-end;
}


.modal-close {
    padding-top: .5rem;
    align-self: self-end;
    cursor: pointer;
}

.hide {
    display: none;
}

#book-title,
#book-author,
#book-pages {
    border: none;
    border-bottom: 1px solid #a1a1a1;
}

@media screen and (max-width: 600px) {
    .user-name {
        display: none;
    }

    .profile-image {
        height: 40px;
    }

    header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .card {
        gap: .2rem;
        padding: 1rem;
    }
}



@media screen and (min-width: 800px) {
    .menu {
        height: auto;
        display: flex;
    }
}
